.admin-navigator ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
    font-size: 23px;
}

.admin-navigator ul li {
    color: #ffffff;
    list-style: none;
}

.admin-navigator ul li a {
    text-decoration: none;
    color: #cbcbcb;
}