.user-avatar {
    max-width: 100px;
    max-height: 100px;
}

.article-image {
    max-width: 99%;
}

.article-likes ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 100%;
}

.article-likes p {
    color: #e7e7e7;

}

.article-likes ul li {
    flex-basis: calc(100% / 5 - 6px); /* Ustal szerokość dla maksymalnie 5 elementów w jednym wierszu */
    margin: 3px;
}

.article-likes {
    max-width: 100%;
}
.article-likes p {
    font-size: 13px;
}

.article-likes ul li {
    font-size: 13px;
}

.article-user-profile {
    color: #e7e7e7;
    margin: 10px;
}

.article-user-profile p {
    min-width: 100%;
}

.article-view {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #ffffff;
}

.article-author {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #e7e7e7;
}

.article-author a {
    text-decoration: none;
    color: #9ba6b0;
}

.article-content {
    color: #8c8c8c;
    margin-top: 10px;
    min-width: 1050px;
}

.aricle-icons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 20px 0;
}

.aricle-icons i {
    margin-right: 10px;
}

.fa-trash-can {
    color: #FF6347FF;
}

.fa-thumbs-up {
    color: #7ec8fd;
}

.fa-pen-to-square {
    color: #31ff31;
}

/*user comment*/

.form-comment {
    display: flex;
    margin: 10px;
}

.user-avatar-comment {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}

textarea {
    margin: 10px;
    width: 200px;
    height: 100px;
}

.form-button {
    padding: 5px;
    margin-left: 10px;
    background-color: #01201c;
    border: none;
    color: #ffffff;
}

.comments-container {
    margin: 10px;
}

.comments-container h3 {
    color: #ffffff;
    margin: 5px 0;
}

.comments-users {
    display: flex;

}

.comments-content {
    margin: 10px 10px;

}

.comments-content .comments-author {
    text-decoration: none;
    color: #9ba6b0;
}

.comments-content .comments-description {
    margin-top: 8px;
    color: #8c8c8c;
}

.comments-buttons {
    display: flex;
    margin-right: auto;
}

.comments-buttons i {
    font-size: 12px;
    margin: 10px 5px;
}

.comments-time {
    margin-top: -2px;
    font-size: 12px;
    color: #8c8c8c;
}

.likes {
    margin-left: auto;
    margin-top: 10px;

}

@media (min-width: 576px) {
    textarea {
        margin: 10px;
        width: 400px;
        height: 100px;
    }
}

@media (min-width: 768px) {

    .user-avatar {
        max-width: 150px;
        max-height: 150px;
    }


    .article-likes ul li {
        flex-basis: calc(100% / 8 - 6px); /* Ustal szerokość dla maksymalnie 5 elementów w jednym wierszu */
        margin: 3px;
    }

    /*user comment*/

    .form-comment {
        justify-content: center;
    }

    .user-avatar-comment {
        max-width: 50px;
        max-height: 50px;
        margin: 10px;
    }

    textarea {
        margin: 10px;
        width: 500px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form-button {
        max-width: 30%;
    }

    .comments-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .likes {
        margin-left: 520px;
    }

}

@media (min-width: 992px) {

    .article-user-profile {
        padding-right: 10px;
        border-right: 1px solid #ffffff;
    }

    .like-btn {
        cursor: pointer;
        padding: 5px;
    }

    .article-image {
        display: block;
        max-width: 99%;
        margin: 0 auto 20px auto;
    }


    .article-likes ul li {
        flex-basis: calc(100% / 10 - 6px); /* Ustal szerokość dla maksymalnie 5 elementów w jednym wierszu */
        margin: 3px;
    }

    /*user comment*/


    textarea {
        margin: 10px;
        width: 800px;
    }


    .form-button {
        max-width: 20%;
    }

    .comments-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: self-start;
        width: 99%;
    }

    .comments-container h3 {
        color: #ffffff;
        margin: 5px 0;
    }

    .comments-users {
        display: flex;
        min-width: 99%;

    }

    .comments-content {
        margin: 10px 10px;

    }

    .comments-content .comments-author {
        text-decoration: none;
        color: #9ba6b0;
    }

    .comments-content .comments-description {
        margin-top: 8px;
        color: #8c8c8c;
        width: 100%;
    }

    .likes {
        margin-left: 780px;
        margin-top: 10px;

    }


}


@media (min-width: 1200px) {

    .comments-container {
        margin-left: 30px;
    }

    .comments-container h3 {
        font-size: 24px;
        color: #ffffff;
        margin: 5px 0;
    }

    .article-likes ul li {
        flex-basis: calc(100% / 12 - 6px); /* Ustal szerokość dla maksymalnie 5 elementów w jednym wierszu */
        margin: 3px;
    }

    /*user comment*/


    textarea {
        width: 900px;
    }

    .form-comment {
        display: flex;
        justify-content: center;
        margin-left: 200px;
    }

    .likes {
        margin-left: 950px;
        margin-top: 10px;

    }


}

i {
    cursor: pointer;
}

.likeActive {
    color: #53a48a;
}