.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    min-height: 10vh;
    background-color: #292929;
    border-top: 1px solid white;
}

.footer p {
    color: #ffffff;
}