section.left-side {
    background-color: rgb(31, 31, 31);
    margin: 20px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.right-wrapper {
    max-width: 100%;
}

div.top {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgb(31, 31, 31);
}

div.top h2 {
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
}

div.top h2 a {
    font-weight: 300;
    text-decoration: none;
    color: rgb(149, 197, 101);
}

div.top img {
    display: block;
    margin: 10px;
    max-width: 40px;
    max-height: 40px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: rgb(43, 43, 43);
}

.search-records {
    background-color: rgb(31, 31, 31);
    padding: 10px;
    margin-top: 10px;
}

div.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(31, 31, 31);
}

div.tags a {
    font-size: 12px;
    padding: 2px 5px;
    margin-right: 5px;
    margin-top: 4px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 10px;
}

div.tags a:hover {

    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    padding: 15px;
    margin: 8px 10px;
    border-radius: 15px;
    background-color: rgb(43, 43, 43);
}

div.content p {
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 13px;
}

div.content button {
    align-self: center;
    margin-top: auto;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid rgb(101, 101, 101);
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

div.content button:hover {
    background-color: rgb(54, 54, 54);
}

div.activity {
    padding: 10px;
    display: flex;
    margin-left: auto;
    background-color: rgb(31, 31, 31);
}

div.activity .author {
    margin-left: auto;
}

div.activity .author, div.activity .likes {
    font-size: 12px;
    padding: 4px 8px;
    margin-right: 10px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 10px;

}

.fa-regular {

    color: rgb(149, 197, 101);

}


@media (min-width: 768px) {

    div.top {
        justify-content: center;
    }

    div.top h2 {
        font-size: 20px;
    }

    div.top img {
        max-width: 80px;
        max-height: 80px;

    }

    div.tags a {
        font-size: 14px;
    }

    div.content p {
        font-size: 15px;
    }

    div.content button {
        font-size: 16px;
    }

}

@media (min-width: 992px) {

    .right-wrapper {
        max-width: 95%;
    }

    div.top {
        justify-content: center;
    }

    div.top h2 {
        font-size: 22px;
    }

    div.tags a {
        padding: 5px 10px;
        font-size: 16px;
    }

    div.content p {
        font-size: 16px;
    }

    div.activity .author, div.activity .likes {
        font-size: 14px;

    }
}

@media (min-width: 1200px) {
    section.left-side {
        min-width: 700px;
    }

    div.top img {
        min-width: 60px;
        min-height: 60px;
    }

}