* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    color: rgb(194, 194, 194);
    background-color: rgb(25, 25, 25);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0 auto;
}


/*_______________________________

Header + nav bar
*/

main {
    flex: 1 0 auto;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    /*display: none;*/
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
    background-color: #000000;
}

header h3 {

    font-weight: 300;
    margin-top: 30px;
    color: #ffffff;

}

header h3 .header-title-span {
    color: rgb(186, 246, 127);
}

ul li a {

    font-size: 16px;
    text-decoration: none;
    color: rgb(140, 140, 140);

}

ul li {
    margin-top: 20px;
}

ul li.sign-in {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 1px 10px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {

    header {
        display: flex;
        position: static;
        flex-direction: row;
        min-height: 100%;
        min-width: 1200px;
        background-color: #000000;
        justify-content: flex-start; /* Rozdziela tytuł i nawigację na dwie strony */
        align-items: center; /* Wyśrodkowuje elementy w pionie */
        padding: 10px 20px;
        margin-top: 30px;
        border-radius: 15px;
    }

    header h3 {

        flex-shrink: 0;
        margin-top: 0;
        color: #ffffff;

    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        flex-grow: 1;
    }


    nav ul.mainNav li {
        justify-content: space-between;
        margin-right: 50px;
    }

    nav ul li a:hover {
        color: rgb(186, 246, 127);
    }

    nav ul li.sign-in {
        padding: 2px 50px;
    }

    nav ul li i {
        font-size: 25px;
    }

    nav ul li.firstLi {

        margin-left: 100px;
        color: #ffffff;

    }


}


.btn-logout {
    background-color: transparent;
    border: none;
}

.user-name {
    color: #13f35d;
}


/*_______________________________
End of header and nav bar
*/

