.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #292929;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ffffff;

}

.header-container p {
    margin: 20px 0;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
}

.header-container a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.header-container i {
    margin-right: 5px;
}

@media (min-width: 576px) {

    .header-container {
        padding: 10px;
    }

    .header-container p {
        margin: 20px auto;
        padding: 30px;
        font-size: 14px;
    }

    .header-container a {
        font-size: 20px;
    }

    .header-container i {
        margin-right: 5px;
    }

}

@media (min-width: 768px) {


    .header-container p {
        font-size: 16px;
    }

    .header-container a {
        font-size: 22px;
    }


}

@media (min-width: 922px) {


    .header-container {
        padding-bottom: 20px;
    }
    .header-container p {
        font-size: 15px;
    }

    .header-container a {
        /*margin-left: auto;*/
        font-size: 20px;
        font-weight: 700;
    }


}