
div.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    /*padding: 10px;*/
}

section.report-system {
    margin: 10px;
}

div.search-bar input {
    width: 70%;
    min-height: 40px;
    border-radius: 10px;
    outline: transparent;
    padding-left: 30px;
    background-color: transparent;
    color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
}

div.search-bar i {
    position: absolute; /* Pozycjonuje ikonę względem kontenera .search-bar */
    left: 20px; /* Odstęp od lewej krawędzi kontenera */
    top: 50%; /* Ustawia ikonę na środku kontenera w pionie */
    transform: translateY(-50%); /* Przesuwa ikonę o połowę jej wysokości w górę, aby była dokładnie wyśrodkowana */
    pointer-events: none; /* Zapobiega interakcji z ikoną (kliknięcie, hover itp.) */
}

div.search-bar button {
    margin-left: 10px;
    background-color: transparent;
    color: rgb(196, 196, 196);;
    border: 1px solid rgb(196, 196, 196);
    padding: 5px;
    border-radius: 10px;
}


.reported-comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(186, 246, 127);
    border-radius: 10px;
}

.reported-comment a {
    color: white;
    margin-bottom: 5px;
}

.reported-comment p {
    margin-bottom: 10px;
}

.reported-comment p.reported-by {
    margin-top: 10px;
    font-size: 14px;
}

.reported-comment a.reported-by, .reported-content {
    font-size: 14px;
}

.buttons-action {
    margin-left: auto;
}


.accept-report,
.reject-report {
    padding: 5px 10px; /* Dodaje odstępy w przyciskach */
    border: none; /* Usuwa obramowanie */
    cursor: pointer; /* Kursor wskazuje, że przycisk jest klikalny */
}

.accept-report {
    background-color: #13f35d; /* Niebieski kolor tła */
    color: white; /* Biały kolor tekstu */
    margin-right: 5px;
}

.reject-report {
    background-color: #FF0000; /* Czerwony kolor tła */
    color: white; /* Biały kolor tekstu */
}


@media (min-width: 576px) {

    div.search-bar i {
        left: 10%;
    }

}

@media (min-width: 768px) {

    div.search-bar i {
        left: 11%;
    }

}

@media (min-width: 1200px) {

    div.search-bar i {
        left: 12%;
    }

}

/*@media (min-width: 992px) {*/

/*    body {*/
/*        display: flex;*/
/*        flex-direction: row;*/

/*    }*/

/*    header {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        position: static;*/
/*        min-width: 20vw;*/
/*        !*justify-content: center;*!*/
/*        align-items: center;*/
/*        padding: 0px;*/
/*        min-height: 100vh;*/
/*        background-color: #000000;*/
/*    }*/

/*    header h3.title-admin {*/
/*        display: block;*/
/*        font-weight: 300;*/
/*        margin: 20px;*/
/*        color: #ffffff;*/
/*    }*/

/*    header h3 .title-admin-span, ul li a i  {*/
/*        !*margin: -10px;*!*/
/*        color: rgb(186, 246, 127);*/
/*    }*/

/*    header ul li a {*/
/*        padding: 1px;*/
/*    }*/

/*    header ul {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    header ul li a {*/
/*        margin: 10px;*/
/*        font-size: 16px;*/
/*        text-decoration: none;*/
/*        color: rgb(196, 196, 196);*/

/*    }*/

/*    header ul li {*/
/*        padding: 10px;*/
/*        width: 100%;*/
/*        margin-top: 20px;*/
/*        list-style: none;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/

/*    header {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        position: static;*/
/*        min-width: 250px;*/
/*        max-width: 300px;*/
/*        !*justify-content: center;*!*/
/*        align-items: center;*/
/*        padding: 0px;*/
/*        min-height: 100vh;*/
/*        background-color: #000000;*/
/*    }*/
/*}*/