
div.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    /*padding: 10px;*/
}

section.report-system {
    margin: 10px;
}

div .report-history {
    color: white;
    margin: 5px 10px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #61dafb;
    background-color: #007BFF;
}

div.search-bar input {
    width: 100%;
    min-height: 20px;
    border-radius: 10px;
    outline: transparent;
    padding-left: 30px;
    background-color: transparent;
    color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
    margin-top: 15px;
}

/*div.search-bar i {*/
/*    position: absolute; !* Pozycjonuje ikonę względem kontenera .search-bar *!*/
/*    left: 20px; !* Odstęp od lewej krawędzi kontenera *!*/
/*    top: 58%; !* Ustawia ikonę na środku kontenera w pionie *!*/
/*    transform: translateY(-50%); !* Przesuwa ikonę o połowę jej wysokości w górę, aby była dokładnie wyśrodkowana *!*/
/*    pointer-events: none; !* Zapobiega interakcji z ikoną (kliknięcie, hover itp.) *!*/
/*}*/

div.search-bar button {
    margin-left: 10px;
    background-color: transparent;
    color: rgb(196, 196, 196);;
    border: 1px solid rgb(196, 196, 196);
    padding: 0 20px;
    border-radius: 10px;
}


.reported-comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(186, 246, 127);
    border-radius: 10px;
}

.reported-comment a {
    color: white;
    margin-bottom: 5px;
}

.reported-comment p {
    margin-bottom: 10px;
}

.reported-comment p.reported-by {
    margin-top: 10px;
    font-size: 14px;
}

.reported-comment a.reported-by, .reported-content {
    font-size: 14px;
}

.buttons-action {
    margin-left: auto;
}


.accept-report,
.reject-report {
    padding: 5px 10px; /* Dodaje odstępy w przyciskach */
    border: none; /* Usuwa obramowanie */
    cursor: pointer; /* Kursor wskazuje, że przycisk jest klikalny */
}

.accept-report {
    background-color: #13f35d; /* Niebieski kolor tła */
    color: white; /* Biały kolor tekstu */
    margin-right: 5px;
}

.reject-report {
    background-color: #FF0000; /* Czerwony kolor tła */
    color: white; /* Biały kolor tekstu */
}


/*@media (min-width: 576px) {*/

/*    div.search-bar i {*/
/*        left: 10%;*/
/*    }*/

/*}*/

/*@media (min-width: 768px) {*/

/*    div.search-bar i {*/
/*        left: 11%;*/
/*    }*/

/*}*/

@media (min-width: 992px) {

    .reported-comment p {
        display: block;
        min-width: 800px;
    }

    div.search-bar input {

        min-width: 680px;
    }

}

@media (min-width: 1200px) {

    div.search-bar i {
        margin-top: 50px;
    }

    div.search-bar input {

        min-height: 35px;
    }

    div.search-bar button {
        margin-top: 15px;
        max-height: 35px;
    }

}